.animate-reveal {
    letter-spacing: 2px;
    opacity: 0;
    -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
       -moz-animation: reveal 1s ease-in 1 normal forwards;
         -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
            animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
-webkit-animation-delay: 0;
    -moz-animation-delay: 0;
        -o-animation-delay: 0;
        animation-delay: 0;
}

.animate-second {
-webkit-animation-delay: 750ms;
    -moz-animation-delay: 750ms;
        -o-animation-delay: 750ms;
        animation-delay: 750ms;
}

.animate-third {
-webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
        -o-animation-delay: 1.5s;
        animation-delay: 1.5s;
}

@-webkit-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -o-transform: translateY(100%);
                transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
                transform: translateY(0);
    }
    }
    
    @-moz-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -o-transform: translateY(100%);
                transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
                transform: translateY(0);
    }
    }
    
    @-o-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -o-transform: translateY(100%);
                transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
                transform: translateY(0);
    }
    }
    
    @keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -o-transform: translateY(100%);
                transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
                transform: translateY(0);
    }
}

.hover figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.col span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

@media only screen and (min-width: 600px) {
    .hover {
        padding-left: 180px
    }
    table #zbirka {
        padding: 150px;
    }
  }

  @media only screen and (max-width: 600px) {
    .filter {
        display: none;
        visibility: hidden;
    }
    .tabela-zbirke {
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        position: absolute;
    }
  }